extends layout.jade

block content
  .container.mt-5
    h2.text-success.mb-4 Stock View (Assets in Stock)

    table#stockTable.table.table-bordered.table-striped
      thead
        tr
          th Serial No.
          th Branch
          th Asset Name
          th Value
          th Status
          th Actions
      tbody
        each branch in branches
          each asset, index in assetsByBranch[branch.id]
            tr
              td #{index + 1}
              td #{branch.name}
              td #{asset.name}
              td #{asset.price}
              td #{asset.status}
              td
                
                a.btn.btn-sm.btn-info(href='/assets/branch/#{branch.id}') View

    tfoot
      tr
        td(colspan='4').text-end.fw-bold Total Value:
        td(colspan='2') #{totalValue.toFixed(2)}


  script(src='https://code.jquery.com/jquery-3.6.0.min.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js')
  script(src='https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js')
  script(src='https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js')

  script.
    $(document).ready(function () {
      $('#stockTable').DataTable();
    });
